.App {
  text-align: center;
}
h1 {
  margin-left: 0.5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  color: #fff;
  text-decoration: none;
  margin-right: 40rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FormMovie {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.FormMovie h1 {
  text-align: center;
}

.FormMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormMovie .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}

.FormMovie .form-data input:not([type="submit"]) {
  flex-grow: 1;
}

.button {
  padding: 10px;
  border-radius: 5px;
}

.Button a {
  color: #fff;
}

.movieCard {
  align-items: center;
  width: 70%;
}

.card-body {
  width: 50%;
  display: grid;
}

.card-body:hover {
  background-color: lightgray;
}

.card img {
  width: 23%;
}
