.App {
  text-align: center;
}
h1 {
  margin-left: 0.5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  color: #fff;
  text-decoration: none;
  margin-right: 40rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
